<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520062465863-i1epurisnd9ujtf17fa41tc1lo8g1mf0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520062465863-i1epurisnd9ujtf17fa41tc1lo8g1mf0</string>
	<key>API_KEY</key>
	<string>AIzaSyC8-bilpRbfkmzpI9kdLcJxkyZBEAgMBbs</string>
	<key>GCM_SENDER_ID</key>
	<string>520062465863</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jmkim.SeSACFriends</string>
	<key>PROJECT_ID</key>
	<string>sesac-friends-9a582</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac-friends-9a582.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520062465863:ios:6c157a590c24d76fb43e62</string>
</dict>
</plist>